@font-face {
    font-family: Archivo-Bold;
    src: url(../fonts/Archivo-Bold.ttf);
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#container{
    text-align: center;
    padding: 0px;
    background: linear-gradient(to right, aqua, pink );
}
#container>h1{
    padding: 100px auto;
    background-color: rgb(168, 4, 168);
    color: white;
    position: fixed;
    width: 100%;
}
#container h2{
    text-align: left;
    padding: 100px 50px 50px 50px;
}
#container hr{
    border: 1px solid black;
}
#jsProgramSection{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 30px;
    text-align: left;
}
#jsProgramSection h2{
    padding: 15px;
}
#jsProgramSection form{
    text-align: center;
}
#jsProgramSection form input{
    font-size: 18px;
    text-align: center;
    padding: 10px 30px;
    margin: 10px;
}
#jsProgramSection form input::placeholder{
    font-size: 16px;
}
#userValue  {
    text-align: center;
}
#userValue h1{
    padding: 40px;
    color: rgb(165, 1, 165);
}
#actionPerformBtn{
    padding: 10px 30px;
    font-size: 18px;
    font-weight: bold;
    width: 200px;
    border-radius: 100px;
    color: red;
}






